{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block own_css %}{% endblock %}
{% block title %}
    <title>{{ faculty }} - курсы</title>
    {#    <link rel="stylesheet" type="text/css" href="{% static 'disease/css/dashboard.css' %}">#}
{% endblock %}

{% block content %}
    <div class="container">
        <br><br>
        {#            <div class="card" style="width: 40rem;">#}
        {#                <div class="card-body">#}
        {#                    <h4 class="card-title">Сводные данные</h4>#}
        {#                    <h5><span class="badge bg-secondary">720</span> Всего сотрудников</h5>#}
        {#                    <h5><span class="badge bg-secondary">100/70/30</span> Всего больничных листов/болезнь/карантин</h5>#}
        {#                    <h5><span class="badge bg-secondary">10</span> сейчас открыто больничных листов</h5>#}
        {#                </div>#}
        {#            </div>#}
        {#            <br><br>#}
{#        <p>#}
{#            <a class="link-secondary" data-bs-toggle="collapse" href="#collapseExample" role="button"#}
{#               aria-expanded="false" aria-controls="collapseExample">#}
{#                Расширенный поиск#}
{#            </a>#}
{#        </p>#}
{#        <div class="collapse" id="collapseExample">#}
{#            <div class="card card-body">#}
{#                <form>#}
{#                    <div class="row">#}
{#                        <div class="col-md-6">#}
{#                            <div class="mb-3">#}
{#                                <label class="form-label">Подразделение</label>#}
{#                                {% render_field filter.form.id class+="form-control" %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <button type="submit" class="btn btn-secondary">Поиск</button>#}
{#                    <a href="{% url 'covid_cadet:subdivision-list' %}" class="btn btn-secondary">Сбросить фильтр</a>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
    </div>
    <div class="container-fluid">

        {% if courses_list %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">№ п.п</th>
                    <th scope="col" class="align-middle">Курс</th>
                    <th scope="col" class="align-middle">Численность</th>
                    <th scope="col" class="align-middle">Количество лиц, получивших одну прививку против инфекции COVID-19</th>
                    <th scope="col" class="align-middle">Количество лиц, получивших две прививки против инфекции COVID-19</th>
                    <th scope="col" class="align-middle">Охват (первая прививка)</th>
                    <th scope="col" class="align-middle">Охват (вторая прививка)</th>
                    <th scope="col" class="align-middle">Желающие пройти вакцинацию</th>
                    <th scope="col" class="align-middle">Дата и время последнего редактирования</th>
                </tr>
                </thead>
                <tbody>
                {% for course in courses_list %}
                    <tr>
                        <td class="align-middle">{{ forloop.counter }}</td>
                        <td class="align-middle"><a href="{% url 'covid_cadet:employee-cadet-list' %}?group_fk__course={{ course.id }}"
                               class="link-secondary">{{ course.course_name }}</a></td>
                        <td class="align-middle">{{ course.get_count }}</td>
                        <td class="align-middle">{{ course.get_covid_1_count }}/{{ course.get_covid_1_count_adult }}</td>
                        <td class="align-middle">{{ course.get_covid_2_count }}/{{ course.get_covid_1_count_adult }}</td>
                        <td class="align-middle">{{ course.get_covid_percent }}/{{ course.get_covid_percent_adult }}</td>
                        <td class="align-middle">{{ course.get_covid_percent_second }}/{{ course.get_covid_percent_adult_second }}</td>
                        <td class="align-middle">{{ course.get_willing_count }}/{{ course.get_willing_count_adult }}</td>
                        <td class="align-middle">{{ course.last_modified|date:"d.m.Y H:m" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <div class="container">
                <h5>Список пуст</h5>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block own_js %}{% endblock %}

