{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block own_css %}{% endblock %}
{% block title %}
    <title>Курсанты</title>
    {#    <link rel="stylesheet" type="text/css" href="{% static 'disease/css/dashboard.css' %}">#}
{% endblock %}

{% block content %}
    <div class="container">
        <br><br>
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                 <h4 class="card-title">Сводные данные</h4>
                <h5>Всего сотрудников <span class="badge bg-secondary">{{ employee_count_sum }}</span></h5>
                <h5>Получили одну прививку <span
                        class="badge bg-secondary">{{ employee_count_sum_first_vaccine }}</span></h5>
                <h5>Получили две прививки <span
                        class="badge bg-secondary">{{ employee_count_sum_second_vaccine }}</span></h5>
                <h5>Охват вакцинацией (первая прививка), % <span
                        class="badge bg-secondary">{{ get_employee_covid_percent_sum_first }}</span></h5>
                <h5>Охват вакцинацией (вторая прививка), % <span
                        class="badge bg-secondary">{{ get_employee_covid_percent_sum_second }}</span></h5>
            </div>
        </div>
        <br><br>
        <p>
            <a class="link-secondary" data-bs-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false" aria-controls="collapseExample">
                Расширенный поиск
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Фамилия</label>
                                {% render_field filter.form.last_name class+="form-control" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Группа</label>
                                {% render_field filter.form.group_fk class+="form-control my-select2" style="width: 100%" %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Курс</label>
                                {% render_field filter.form.group_fk__course class+="form-select my-select2" style="width: 100%" %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Факультет</label>
                                {% render_field filter.form.group_fk__course__faculty class+="form-select my-select2" style="width: 100%" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Звание</label>
                                {% render_field filter.form.rank class+="form-control my-select2" style="width: 100%" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Должность</label>
                                {% render_field filter.form.position class+="form-select my-select2" style="width: 100%" %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Дата рождения с</label>
                                {% render_field filter.form.date_of_birth_start class+="form-control" %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Дата рождения по</label>
                                {% render_field filter.form.date_of_birth_end class+="form-select" %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Пол</label>
                                {% render_field filter.form.sex class+="form-control" %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Семейное положение</label>
                                {% render_field filter.form.marital_status class+="form-select" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Рабочий статус</label>
                                {% render_field filter.form.work_status class+="form-select" %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Имеет противопоказания</label>
                                {% render_field filter.form.has_contraindications class+="form-select" %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Желает пройти вакцинацию</label>
                                {% render_field filter.form.is_willing class+="form-select" %}
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Первая прививка</label>
                                {% render_field filter.form.has_date1 class+="form-select" %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Вторая прививка</label>
                                {% render_field filter.form.has_date2 class+="form-select" %}
                            </div>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-secondary">Поиск</button>
                    <a href="{% url 'covid_cadet:employee-cadet-list' %}" class="btn btn-secondary">Сбросить фильтр</a>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {% if request.user.is_superuser %}
            <div style="text-align: right" class="mb-3">
                <a href="{% url 'covid_cadet:employee-cadet-input' %}" class="btn btn-secondary needs-next"><b>Добавить
                    курсанта</b></a>
            </div>
        {% endif %}
        {% if employee_cadet_list %}
            <h6>Найдено записей - <b>{{ employee_cadet_list.count }}</b></h6>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">№ п.п</th>
                    <th scope="col" class="align-middle">Фамилия</th>
                    <th scope="col" class="align-middle">Имя</th>
                    <th scope="col" class="align-middle">Отчество</th>
                    <th scope="col" class="align-middle">Дата рождения</th>
                    <th scope="col" class="align-middle">Группа</th>
                    <th scope="col" class="align-middle">Дата первой вакцинации</th>
                    <th scope="col" class="align-middle">Дата второй вакцинации</th>
                    <th scope="col" class="align-middle">Желает пройти вакцинацию</th>
                    <th scope="col" class="align-middle">Дата и время последнего редактирования</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for employee in employee_cadet_list %}
                    <tr>
                        <td class="align-middle">{{ forloop.counter }}</td>
                        <td class="align-middle"><a href="{% url 'covid_cadet:employee-cadet-update' employee.id %}"
                               class="link-secondary needs-next">{{ employee.last_name }}</a></td>
                        <td class="align-middle">{{ employee.first_name }}</td>
                        <td class="align-middle">{{ employee.patronymic }}</td>
                        <td class="align-middle">{{ employee.date_of_birth|default_if_none:"Нет данных" }}</td>
                        <td class="align-middle">{{ employee.group_fk.group_name }}</td>
                        <td class="align-middle">{{ employee.last_date1|date:"d.m.Y" }}</td>
                        <td class="align-middle">{{ employee.last_date2|date:"d.m.Y" }}</td>
                        <td class="align-middle">
                            {% if employee.is_willing %}
                                <i class="far fa-check-circle"></i>
                            {% endif %}
                        </td>
                        <td class="align-middle">{{ employee.last_modified|date:"d.m.Y H:m" }}</td>
                        <td class="align-middle">
                            <a href="{% url 'covid_cadet:employee-vaccines' employee.id %}"
                               class="link-secondary">вакцинации</a><br>
                            <a href="{% url 'covid_cadet:employee-info' employee.id %}"
                               class="link-secondary">сводная информация</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <div class="container">
                <h5>Список пуст</h5>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block own_js %}{% endblock %}

